*{
    font-family: sans-serif;
}

body{
    background-color: #FFBD33;
    text-align: center;
    border: 10px solid #CA962A;
    border-radius: 10px;
}

h1{
    text-align: center;
}
.menu-img{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 10px;
    width: 300px;
}

.menu-racipes ul{
    text-align: left;
    max-width: 550px;
    margin: 0 auto 50px auto;
}

ul{
    list-style: none;
}

li{
    padding-bottom: 3px;
    border: 1px solid #FFBD33;
}

a{
    text-decoration: none;
    font-size: 20px;
    background-color: #CA962A;
    border: 3px solid #CA962A;
    border-radius: 3px;
}

a:visited, a:hover, a:link{
    color: ghostwhite;
}